@model MessageClients.Models.SocketMessagesViewModel

@{
    ViewBag.Title = "Real time messages";
}

<h2>Real time messages</h2>

<div id="messagesList">
    <ul>
        @foreach (var message in Model.Messages)
        {
            <li>@message.Timestamp: @message.Content (SerialNumber: @message.SerialNumber)</li>
        }
    </ul>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.18/signalr.min.js"></script>
    <script type="text/javascript">
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("http://server:8080/hub/message")
            .build();

        connection.on("ReceiveMessage", function (content, timestamp, serialNumber) {
            const messageItem = `<li>${timestamp}: ${content} (SerialNumber: ${serialNumber})</li>`;
            document.getElementById("messagesList").querySelector("ul").innerHTML += messageItem;
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}

