@page "/messages"
@using MessageClients.Models
@inject MessageClients.Clients.IMessageClient MessageClient

<h2>Receiving Messages</h2>

<text>Select the interval of minutes before the current moment (or "all" messages):</text>

<br />

<div class="form-group">
    <button @onclick="SetTimeIntervalTo5">5</button>
    <button @onclick="SetTimeIntervalTo10">10</button>
    <button @onclick="SetTimeIntervalTo15">15</button>
    <button @onclick="ClearFilters">all</button>
</div>

<br />

<text>Or choose mannualy dates with time:</text>

<br />

<EditForm Model="Filter" OnSubmit="GetFilteredMessages" FormName="FilterForm">
    <div>
        <label>
            <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="Filter!.DateTimeFrom" />
            <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="Filter!.DateTimeTo" />
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>

<br />

@if (InitialState)
{
    <p>There are no created filters.</p>
}
else if (!InitialState && !IsRequestSuccessful)
{
    <p>Unable to get messages. Please try again later.</p>
}
else if (IsRequestSuccessful)
{
    <ul>
        @foreach (var message in FilteredMessages)
        {
            <li>@message.Timestamp: @message.Message (SerialNumber: @message.SerialNumber)</li>
        }
    </ul>
}


@code {
    [SupplyParameterFromForm]
    private MessageFilterModel? Filter { get; set; }

    private List<MessageToGetModel> FilteredMessages = new();
    private bool IsRequestSuccessful;
    private bool InitialState = true;

    protected override void OnInitialized() =>
        Filter ??= new();

    private async Task GetFilteredMessages()
    {
        if (Filter?.TimeRange is int minutes)
        {
            var currentDate = DateTime.UtcNow;
            Filter.DateTimeFrom = currentDate.AddMinutes(-minutes);
            Filter.DateTimeTo = currentDate;
        }

        var (isSuccessCode, responseMessages) = await MessageClient.GetMessagesAsync(Filter?.DateTimeFrom, Filter?.DateTimeTo);

        IsRequestSuccessful = isSuccessCode;
        InitialState = false;
        FilteredMessages = responseMessages;

        Filter!.DateTimeFrom = null;
        Filter!.DateTimeTo = null;
    }


    private async Task SetTimeIntervalTo5() =>
        await FilterInterval(5);

    private async Task SetTimeIntervalTo10() =>
        await FilterInterval(10);

    private async  Task SetTimeIntervalTo15() =>
        await FilterInterval(15);

    private async Task ClearFilters()
    {
        Filter!.DateTimeFrom = null;
        Filter.DateTimeTo = null;
        Filter.TimeRange = null;
        await GetFilteredMessages();
    }

    private async Task FilterInterval(int minutes)
    {
        Filter!.TimeRange = minutes;
        await GetFilteredMessages();
    }
}